@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Space Grotesk', sans-serif;
}

::-moz-selection {
	/* Code for Firefox */
	color: black;
	background: #88f32b;
}

::selection {
	color: black;
	background: #88f32b;
}
